.conteiner1 {
    background-color: lightgrey;
    border: 2px dashed yellow;
    width: 50%;
    height: 50%;
}

.conteiner2 {
    background-color: lightgreen;
    border: 6px dashed red;
    height: 80%;
}

p {
    font-size: 2rem;
    font-weight: bold;
    color: green;
    border: 2px solid darkgoldenrod;
}

ul li {
    background-color: blue;
    text-transform: uppercase;
    list-style: none;
}

@media screen and (max-width:575px){
    .conteiner1, .conteiner2{
        display: none;
    }
}